<div>
    <!-- Deletar Informacoes -->
    <div>
        <div class="modal fade" id="delUsuario" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleModal">Deseja excluir sua conta?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">{{usuario.nome}}</td>
                                    <td>{{usuario.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ainda não</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                            (click)="btnSimUsuario()">Quero Deletar!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delEndereco" data-backdrop="static" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleModal">Deseja excluir sua conta?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Parceio</th>
                                    <th scope="col">Endereco</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">{{endereco.parceiro}}</td>
                                    <td>{{endereco.endereco}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ainda não</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                            (click)="btnSimEndereco()">Quero Deletar!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Editar Informacoes -->
    <div>
    </div>
</div>