#introducao {
    background-color: #183059;
    color: #fff;
}
#introducao h1 {
    font-size: 75px;
    padding-top: 25px;
}
#introducao p {
    text-align: left;
    max-width: 700px;
    margin-left: 200px;
    font-size: 32px;
    line-height: 3rem;
}

.azul-claro{
    color: #276fbf;
}

@media screen and (max-width:599px) {
    #introducao h1 {
        font-size: 33px !important;
    }
    #introducao p {
        margin-left: 24px !important;
        font-size: 15px !important;
        line-height: 1.5rem !important;
        margin-right: 30px;
    }

    .menu {
        margin-left: 24px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .bloco-do-menu {
        margin-right: 30px;
    }
    .titulo-do-menu {
        margin-left: 10px;
        font-size: 20px;
    }
    .texto-do-menu {
        margin-left: 24px;
        font-size: 15px;
    }
}

@media screen and (min-width:600px) and (max-width:799px) {
    #introducao h1 {
        font-size: 50px !important;
    } 
    #introducao p {
        margin-left: 40px !important;
        font-size: 25px !important;
        line-height: 1.5 !important;
    }

    .menu {
        margin-right: 100px;
        margin-bottom: 25px;
        margin-left: 40px;
    }
}

@media screen and (min-width:800px) and (max-width:999px) {
    #introducao h1 {
      font-size: 65px !important;
    } 
    #introducao p {
        margin-left: 60px !important;
        font-size: 27px !important;
        line-height: 2rem !important;
    }
}