@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

main{
    max-width: 94%;
    margin: 0 auto;
    font-family: 'Bellota Text', cursive;
    display: flex;
}

.navbar {
    font-size: 20px;
}

.menu{
    background-color: #183059;
}

.menu > li > a{
    background-color: #183059;
}

.hamburger{
    font-size: 30px;
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.perfil {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.perfil img {
    width: 200px;
    height: 200px;
}

.perfil div {
    width: 200px;
    margin-top: 10px;
}

.dadosPessoais {
    width: 800px;
    margin: 0 0 0 40px;
    position: relative;
    border-radius: 8px;
}

.dadosPessoais h1 {
    margin: 20px 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

.dadosPessoais form {
    margin-top: 30px;
}

.dados {
    margin-top: 60px;
    padding: 0 20px;
    box-shadow: 0 0 1px steelblue;
    border-radius: 4px;
    padding-top: 15px;
}

.dados label {
    font-size: 14px;
}

.buttons {
    max-width: 100vw;
}

.buttons div {
    display: flex;
    justify-content: right;
}

.buttons div  button {
    margin-left: 10px;
    width: 80px;
}

footer{
    width: 100vw;
    background-color: #183059; 
    padding: 20px 8%;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icons {
    margin: auto 0;
}

.social-icons a {
    color: #fff;
    margin-left: 12px;
    font-size: 1.5em;
}

.btn-facebook:hover {
    color:#3B5998;
}

.btn-twitter:hover {
    color:#54A4D6;
}

.btn-google:hover {
    color: #D73D32;
}