<main>
    <section id="topo">
        <div class="container">
            <div class="bemVindo">
                <h1>Bem vindo!</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
                    Ut accusantium excepturi ab, nulla
                    laborum, <br>
                    molestiae aperiam reprehenderit maiores autem <br>
                    porro quas repellendus neque asperiores totam vero aut
                    ex
                    alias eveniet!
                </p>

            </div>

            <div>
                <img src="../../assets/doacao.png" alt="">
            </div>

        </div>
    </section>


    <section id="sobre">
        <div class="container">
            <div>
                <h2>Sobre nós</h2>
                <p>
                    Somos uma organização sem fins lucrativos e temos como objetivo prestar auxilio
                    as familias em situação de pouca ou total falta de vestimenta através de doações.
                    Procuramos levar para estas pessoas ajuda no momento de necessidade, sejam elas vitimas de enchente,
                    situação de rua
                    e demais momentos de dificuldade.
                </p>
            </div>
        </div>
    </section>

    <!-- Cads Fundadores -->

    <section class="fundadores">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        <h4 class="nameFund">Pedro</h4>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fugit
                                            consequatur commodi distinctio unde cupiditate officiis porro hic, ratione
                                            asperiores cumque maxime debitis enim odio architecto iste quisquam nemo.
                                            Cum.</p>
                                        <strong>pedro@aula.br</strong>
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/avatar.png" class="img-fluid">
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/avatar.png" class="img-fluid">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4 class="nameFund">Wallacy</h4>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fugit
                                            consequatur commodi distinctio unde cupiditate officiis porro hic, ratione
                                            asperiores cumque maxime debitis enim odio architecto iste quisquam nemo.
                                            Cum.</p>
                                        <strong>wallacy@aula.br</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        <h4 class="nameFund">Eduardo</h4>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fugit
                                            consequatur commodi distinctio unde cupiditate officiis porro hic, ratione
                                            asperiores cumque maxime debitis enim odio architecto iste quisquam nemo.
                                            Cum.</p>
                                        <strong>eduardo@aula.br</strong>
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/avatar.png" class="img-responsive">
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/avatar.png" class="img-responsive">
                                    </div>
                                    <div class="col-lg-3">
                                        <h4 class="nameFund">Nathaly</h4>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fugit
                                            consequatur commodi distinctio unde cupiditate officiis porro hic, ratione
                                            asperiores cumque maxime debitis enim odio architecto iste quisquam nemo.
                                            Cum.</p>
                                        <strong>nathaly@aula.br</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        <h4 class="nameFund">Larissa</h4>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque fugit
                                            consequatur commodi distinctio unde cupiditate officiis porro hic, ratione
                                            asperiores cumque maxime debitis enim odio architecto iste quisquam nemo.
                                            Cum.</p>
                                        <strong>larissa@aula.br</strong>
                                    </div>
                                    <div class="col-lg-3">
                                        <img src="../../assets/avatar.png" class="img-responsive">
                                    </div>
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-3"></div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FIM -->

    <section id="doacao" class="mt-5">
        <div class="container">
            <div>
                <img class="rounded-circle mb-4" src="../../assets/maos.jpg" alt="">
                <h3>Desconto</h3>
                <p class="mr-4 mb-5">
                    Ao realizar uma doação você recebe um cupom de desconto para usar em qualquer um de nossos
                    parceiros, ou seja,
                    você ajuda alguém e ainda é recompensado por isso. <br>
                    Seja um doador!
                </p>
            </div>

            <div>
                <img class="rounded-circle mb-4" src="../../assets/maos.jpg" alt="">
                <h3>Campanha do Agasalho</h3>
                <p class="mr-4">
                    O frio tem castigado pessoas em situação de rua e diversas familias que não possuem condição de
                    comprar roupas,
                    que tal retirar do aramario aquele agasalho que você não utiliza mais ? <br>
                    Seja solidario, doe um agasalho.
                </p>
            </div>

            <div>
                <img class="rounded-circle mb-4" src="../../assets/maos.jpg" alt="">
                <h3>Enchente</h3>
                <p>
                    As chuvas trazem consigo as enchentes e muitas familias acabam perdendo tudo que possuiam. <br>
                    Sua roupa usada pode ser um recomeço. <br>
                    Colabore com a nossa campanha, juntos somos mais fortes.
                </p>
            </div>
        </div>
    </section>

    <div id="parallax-image">
        <div class="row h-100">
            <div class="col-md-12 align-self-center">
            </div>
        </div>
    </div>
</main>