@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

body{
    display: flex;
    flex-direction: column;
}
main{
    margin: 0 20px;
}

.navbar {
    font-size: 20px;
}

.menu{
    background-color: #183059;
}

.menu > li > a{
    background-color: #183059;
}

.hamburger{
    font-size: 30px;
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.btn{
    font-size: 20px;
}

.borda{
    border: yellow solid 10px;
}

.slide{
    margin-bottom: 200px;
}

.teste{
    margin: 100px 10px 0 10px;
}

#sobre{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

#sobre h2{
    margin-top: 50px;
    color: #183059;
    margin-left: 200px;
}

#sobre p{
    max-width: 800px;
    font-size: 1.5em;
    font-family: 'Bellota Text', cursive;
    color: #183059;
    margin-left: 200px;
}

.principal{
    display: block;
    height: 400px;
    background-size: 1200px 526px;
    margin: 100px 0 200px 0;
    /* border: 1px solid #183059; */
}

.img1 {
    width: 160px;
    height: 210px;
    position: absolute;
    top:1100px;
    right: 550px;
    z-index: 1;
    box-shadow: 2px 2px 2px;
    background-color: #fff;
}

.img2 {
    width: 160px;
    height: 210px;
    position: absolute;
    top: 1200px;
    right: 400px;
    z-index: 2;
    box-shadow: 2px 2px 2px;
    background-color: #fff;
}

.img3 {
    width: 160px;
    height: 210px;
    position: absolute;
    top: 1100px;
    right: 250px;
    z-index: 1;
    box-shadow: 2px 2px 2px;
    background-color: #fff;
}

.btn-new {
    border-radius: 20px;
    background-color: #183059;
    border: none;
}

.btn-new:hover{
    background-color: #fff;
    color: #183059;
    border: 1px solid #183059;
}

.position-section {
    display: inline-block;
    position: relative;
    top: 110px;
    left: 200px;
}

.imagens {
    display: inline-flex;
    position: relative;
    border: 1px solid red;
    width: 360px;
    height: 300px;
    top: 50px;
    left: 410px;
}

#parallax-image{
    background-image: url("../img/roupas.jpg");
    height: 500px;
    margin: 50px 0 50px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-nosso{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* .card-nosso div{
    margin-bottom: 20px;
}

.carousel slide{
    margin-top: 100px;
} */

footer{
    width: 100vw;
    background-color: #183059; 
    padding: 20px 8%; 
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icons {
    margin: auto 0;
}

.social-icons a {
    color: #fff;
    margin-left: 12px;
    font-size: 1.5em;
}

.btn-facebook:hover {
    color:#3B5998;
}

.btn-twitter:hover {
    color:#54A4D6;
}

.btn-google:hover {
    color: #D73D32;
}