@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    
}
/* main{
    margin: 0 20px;
} */

.navbar {
    font-size: 20px;
    
}

.menu{
    background-color: #183059;
}

.menu > li > a{
    background-color: #183059;
}

.hamburger{
    font-size: 30px;
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.btn{
    font-size: 20px;
}

.slide{
    margin-bottom: 200px;
}





#apoie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin-top: -150px;
    
}

#apoie .container{
display: grid;
grid-template-columns: 1fr ;
grid-template-rows: 1fr 1fr;
margin-top: 300px;
margin-right: 50px;

}

.img-shirt {
    width: 160px;
    height: 210px;
    z-index: 1;
    box-shadow: 2px 2px 2px;
    background-color: #fff;
    grid-column-start: 1;
    grid-column-end: 2;   
    justify-self: end;
}

.img-socks {
    width: 160px;
    height: 210px;
    z-index: 2;
    box-shadow: 2px 2px 2px;
    background-color: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
    justify-self: end;
    
    
}

.img-scarf {
    width: 160px;
    height: 210px;
    z-index: 1;
    box-shadow: 2px 2px 2px;
    background-color: #fff;
    grid-column-start: 3;
    grid-column-end: 3;
    
    
    
}

.btn-new {
    border-radius: 20px;
    background-color: #183059;
    border: none;
}

.btn-new:hover{
    background-color: #fff;
    color: #183059;
    border: 1px solid #183059;
}

.position-section {
    margin-left: 60px;
}

#sobre{
    /* display: flex; */
    padding: 0 0 0 50px;
    margin-top: 200px;
    margin-bottom: 300px;
    display: inline-block;
    /* margin: 250px 0 250px 200px; */
    
}

#sobre h2{
    margin-top: 50px;
    color: #183059;
    
}

#sobre p{
    max-width: 800px;
    font-size: 1.5em;
    font-family: 'Bellota Text', cursive;
    color: #183059;
    
    
    
}

#parallax-image{
    background-image: url("./../../assets/roupas.jpg");
    height: 400px;
    margin: 50px 0 300px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    overflow: hidden;  
    
}

/* Cards com fotos dos idealizadores */





@media screen and (max-width:649px){
   
    #apoie .container{
        /* border: blue solid 2px;   */
        width: 100%;
        margin-top: 50px;
        margin-left: 50px;
        
    }

    
}

@media screen and (max-width:611px){
   
    #apoie .container{
        /* border: blue solid 2px;   */
        width: 100%;
        margin-top: 50px;
        margin-left: 10px;
        
    }

    
}

@media screen and (max-width:575px){
   
    #apoie .container{
        /* border: blue solid 2px;   */
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        
    }

    
}

@media screen and (max-width:560px){
   
    #apoie .container{
        /* border: blue solid 2px;   */
        width: 100%;
        margin-top: 50px;
        margin-left: -10px;   
    }   
}

@media screen and (max-width:550px){
    #apoie .container{
       display: none;   
    }   
}