<div class="titulo">
    <h2>Usuarios</h2>
</div>

<div class="container mb-5 mt-5">
    <table class="table table-bordered">
        <thead>
            <tr class="table-color">
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
                <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuarios of listaUsuarios">
                <th scope="row">{{ usuarios.id }}</th>
                <td>{{ usuarios.nome }}</td>
                <td>{{ usuarios.email }}</td>
                <td>**********</td>
                <td><button class="btn btn-editar">EDITAR</button></td>
                <td><button class="btn btn-excluir">EXCLUIR</button></td>
            </tr>
        </tbody>
    </table>

</div>