footer{
    width: 100vw;
    background-color: #183059; 
    padding: 20px 8%; 
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icons {
    margin: auto 0;
}

.social-icons a {
    color: #fff;
    margin-left: 12px;
    font-size: 1.5em;
}

.btn-facebook:hover {
    color:#3B5998;
}

.btn-twitter:hover {
    color:#54A4D6;
}

.btn-google:hover {
    color: #D73D32;
}