<body>
    <div class="stars"></div>
    <div class="galaxy"></div>
    <div class="lamps-container">
        <div class="body">
            <div id="main">
                <div id="msg">Page not found</div>
                <div id="error">
                    <div id="f1">4</div>
                    <div id="circle">
                        <div id="smalldot"></div>
                    </div>
                    <div id="f2">4</div>
                </div>
                <div id="btn" routerLink='/home'>Go Home</div>
            </div>
        </div>
    </div>
</body>