* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
 

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
 
.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#282d6b url('../../assets/stars.png') repeat top center;
  z-index:0;
}

.galaxy{
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle,#158AB2 0%,#1F2A77 20%,#111742 35%,#0D071A 80%);
}

#main{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#msg{
    font-family: cursive;
    font-size: 25px;
    color:#fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(255,255,255,.8);
}

#error{
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#f1,#f2{
    font-family: cursive;
    font-size: 100px;
    color:white;
    text-shadow: 0 0 10px rgba(255,255,255,.7);
    display: table-cell;
}

#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background:radial-gradient(circle,#FFF1E0,#F4C661);
    box-shadow: 0 0 15px rgba(255,211,150,1);
    position: relative;
    top:10px;
    animation: move 4s linear infinite;
}

@-webkit-keyframes move{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#smalldot{
    height: 5px;
    width: 5px;
    background-color:#111742;
    border-radius: 50%;
    position: relative;
    top:75%;
    left: 65%;
    transform: translate(-50%,-50%);
}

#btn{
    height: 30px;
    width: 120px;
    color:white;
    background-color:#E94674;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    position: relative;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(233,68,114,.8);
}

#btn:hover{
    cursor: pointer;
}