.collapse-backgroundColor {
    background-color: #183059;   
    font-weight: bolder;
    color: #ffffff;    
}

.btn-button {
    color: #ffffff;
    font-weight: bolder;    
}

.btn-button:hover {
    color: #ffffff;
    font-weight: bolder; 
    text-decoration: none;   
}

.titulo {
    max-width: 100%;
    height: 450px;
    background-color: #183059;    
    padding-top: 225px;
    padding-left: 50px;
}

h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 3.5em;    
}

h2 {
    color: #54A4D6;
    font-weight: bolder;
    font-size: 3em;
}

.btnHome {
    background-color: #183059;   
    font-weight: bolder;
    color: #ffffff;    
}

.btnHome:hover {
    background-color: #ffffff;
    font-weight: bolder;
    color: #183059;
    border-color: #183059;
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 29px;
    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 27px;
    }
}
